style
body{
    background-image: url("https://upload.wikimedia.org/wikipedia/en/thumb/7/7a/Manchester_United_FC_crest.svg/1200px-Manchester_United_FC_crest.svg.png");
    height: fit-content;
    width: fit-content;
}